<!DOCTYPE html>
<html>
<head>
	<title>Ask-Nsitians loadData</title>
	<link rel="icon" href="images/icon.jpg">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		#maps{
	margin-top: 10px;
	height:500px;
	width:100%;
	
}
#search_box{
	margin-top: 10px;
	width:50%;
	height:40px;
}
h1{
	margin-bottom: 30px;
	text-align: center;
}
#leftPart{
	margin-top: 50px;
}
	</style>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
	      	</button>
	      <a href="http://nsit.ac.in/" class="navbar-brand" id="brand">NSIT College</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="active"><a href="savedata">Store Data</a></li>
			<li><a href="preview">Preview</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
				<% if(login ==0){ %>
			<li><a href="#">Signup <i class="fa fa-user-plus"></i></a></li>
			<li><a href="#">Login <i class="fa fa-user"></i></a></li>
			<% } else{ %>
			<li><a href="">Welome <%=username%></a> </li>
			<li><a href="/logout">Logout <i class="fa fa-user"></i></a></li>
			<% } %>

		</ul>
	</div>
</nav>


	<div class="container">
		<h1>Save nearby college places</h1>
	<h5>Click on the map to extract coordinates and save the places using form</h5>
	<h5>Save best locations at higher priority scale of 1 to 5!</h5>
	<div class="row">
		<div class="col-sm-5" id="leftPart">
			<form action="http://localhost:3000/savedata" method="post">
				<div id="latlng" class="form-group row">
					<label for="latitude" class="col-sm-3 col-form-label"> Latitude </label> 
				<div class="col-sm-9">
					<input type="text" class="form-control" name="latitude" id="lat"></div>
				</div>
				<div class="form-group row">
					<label for="longitude" class="col-sm-3 col-form-label"> Longitude</label>
						<div class="col-sm-9">
						<input type="text" class="form-control" name="longitude" id="lng" ></div>
					</div>
				
				<div class="form-group row">
					<label for="address"  class="col-sm-3 col-form-label"> Location Name</label>
					<div class="col-sm-9">
					<input type="text" class="form-control"  name="address" id="address">
					</div> </div>
					<div class="form-group row">
					<label for="priority" class="col-sm-3 col-form-label"> Service Rating</label>
					<div class="col-sm-9">
					<input type="text"  class="form-control" name="priority" id="priority"></div></div>
					<div class="form-group row">
					<label for="priority" class="col-sm-3 col-form-label"> Value for money</label>
					<div class="col-sm-9">
					<input type="text"  class="form-control" name="priority" id="priority"></div></div>
					
					<!-- <div class="form-group row">
					<label for="region" class="col-sm-2 col-form-label"> Region </label>
					<div class="col-sm-10">
					<input type="text"  class="form-control" name="region" id="region"></div></div> -->
				
				<div class="row justify-content-center">
					<div class="col-sm-4 offset-sm-4">
				<button class="btn btn-primary">Submit</button>
				</div>
				</div>
			</form>
		</div>
		<div class="col-sm-7">
			<input type="text" name="enter_location" placeholder="Enter your location" id="search_box">	
	<div id="maps"></div>
		</div>
	</div>
	
</div>
	
	
	
<script type="text/javascript" src='<%=process.env.API_KEY%>'></script>
<script type="text/javascript">
	
var map,marker, flag=1;
function initMap()
{
	 map = new google.maps.Map(document.getElementById("maps"),{
		center:{lat: 28.61093188555962, lng:77.03638662148501},
		zoom: 14
	});
	  map.controls[google.maps.ControlPosition.TOP_LEFT].push(document.querySelector("#search_box"));

	var lat=$("#lat");
	var lng=$("#lng");
	google.maps.event.addListener(map,"click", function (e) {
    var latitude = e.latLng.lat();
    var longitude = e.latLng.lng();
    lat.val(latitude);
    lng.val(longitude);
    var loc={lat:latitude,lng:longitude};
    addMarker(loc);
    console.log( latitude + ', ' + longitude );
});
}
google.maps.event.addDomListener(window,'load',initMap);
function addMarker(coords)
{
	document.querySelector("#address").value="";
	document.querySelector("#priority").value="";
	document.querySelector("button").addEventListener("click",function(){
		document.querySelector("#address").value="";
		document.querySelector("#priority").value="";
		document.querySelector("#lat").value="";
		document.querySelector("#lng").value="";
		document.querySelector("#region").value="";
	});
	if(flag==0)
	{
		marker.setMap(null);
	}
	marker= new google.maps.Marker(
	{
		position:coords,
		map:map
	})
	flag=0;
}

var defaultBounds = new google.maps.LatLngBounds(
  new google.maps.LatLng(8.493053536721622, 68.93992172085473),
  new google.maps.LatLng(36.52644088806312, 96.01023422085473));
var options = {
  bounds: defaultBounds,
  componentRestrictions: {country: 'IN'}
};
 input=document.querySelector("#search_box"); 
var autocomplete = new google.maps.places.Autocomplete(input, options);
autocomplete.addListener('place_changed', searchedAddress);
function searchedAddress(){
	 var place=autocomplete.getPlace();
	addMarker1(place.geometry.location);
}

// Add Marker for User position
function addMarker1(coords)
{	
	  map.setCenter(coords);
      map.setZoom(15);
}


</script>

</body>
</html>